.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .flash.notice {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .flash.alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }